<table class="table table-sm caption-top" style="margin-top: 50px;">

    <thead>
        <tr>
            <th>#</th>
            <th>Nombre usuario</th>
            <th>Activo</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>

                <button class="btn btn-primary radius elevacion">
                    <i class="fa-solid fa-pen"></i>
                </button>

                <button class="btn btn-secondary ms-2 radius elevacion">
                    <i class="fa-solid fa-trash-can"></i>
                </button>

            </td>
        </tr>
    </tbody>

</table>
