
<div class="row">
    <div class="col-md-7">
        <button class="btn btn-primary radius elevacion" 
        data-bs-toggle="modal" data-bs-target="#modal-nuevo"
        >
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>

    <div class="col-md-5">
 
        <div class="row">
            <div class="col-md-5">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-5">
                <button class="btn btn-primary radius elevacion">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <button class="btn btn-secondary ms-2 radius elevacion">
                    <i class="fa-solid fa-broom"></i>
                </button>
            </div>
            
        </div>

    </div>
</div>

<app-tabla-usuarios></app-tabla-usuarios>



<!-- Inicio modal nuevo usuario -->

<div class="modal fade" id="modal-nuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <h5 class="modal-title text-white" id="exampleModalLabel">Nuevo usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form></form>

        </div>
        
      </div>
    </div>
  </div>

<!-- Final modal nuevo usuario -->